<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.5.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="6.7.19073.21201" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="6.7.19073.21201" targetFramework="net45" />
</packages>